/* for mobile */
@media only screen and (max-width: 1454px) {
  .cover-page-info h1{
    font-size: 32px;
  }
  .cover-pic img{
    width: 400px;
    height: 375;
  }
  .product-list{
    grid-template-columns: repeat(3, 229px);
    grid-column-gap: 150px;
  }
}
@media only screen and (max-width: 1199px){
  .cover-page-info h1{
    font-size: 20px;
  }
  .cover-pic img{
    width: 300px;
    height: 275px;
  }
  .product-list{
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 150px;
  }
}
@media (max-width: 970px) {
  .navigation-bar h3, .cover-page, .popular-collection{
    margin-left: 100px;
  }
  .cover-page-info h1{
    font-size: 15px;
  }
  .cover-pic img{
    width: 220px;
    height: 194px;
  }
  .product-list{
    grid-template-columns: repeat(2, 250px);
    grid-column-gap: 150px;
  }
  
}


  /* body {
    margin: 8px;
  }
  nav h3 {
    text-align: center;
    font-size: 100%;
  }
  .cover-page {
    flex-direction: column-reverse;
  }
  .cover-pic img {
    margin-top: 73px;
    width: 202px;
    height: 190px;
  }
  /* .cover-pic img:hover {
    transform: scale(0.6);
  } */
} */
