/* for mobile */
@media only screen and (max-width: 1307px) {
  .cover-page-info h1{
    font-size: 32px;
  }
  .cover-pic img{
    width: 400px;
    height: 375;
  }
}

  /* body {
    margin: 8px;
  }
  nav h3 {
    text-align: center;
    font-size: 100%;
  }
  .cover-page {
    flex-direction: column-reverse;
  }
  .cover-pic img {
    margin-top: 73px;
    width: 202px;
    height: 190px;
  }
  /* .cover-pic img:hover {
    transform: scale(0.6);
  } */
} */
