/* some fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ----------------
    common styles 
-------------------*/
body {
  margin: 0;
}
button {
  font-size: 16px;
  height: 44px;
  font-weight: bold;
  background-color: #e02c6d;
  border: 0;
}
button a {
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: #ffffff;
}
/* -----------------
    header style 
--------------------*/
.navigation-bar h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 87px;
  margin-left: 120px;
}

/* cover page style */
.cover-page {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 165px;
}
.cover-page-info {
  font-family: "Poppins", sans-serif;
  width: 582px;
}
.cover-page-info h1 {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
}
.cover-page-info p {
  font-size: 16px;
  font-weight: 600;
}
.preebook-button {
  border-radius: 41px;
  width: 196px;
  height: 44px;
}
.cover-pic img {
  width: 440px;
  height: 414px;
}
/* ----------------------------
    popular collection style
------------------------------- */
.popular-collection {
  margin-left: 196px;
  margin-right: 196px;
}
.popular-collection h3 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
.popular-collection a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin-right: 197px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 329px);
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product-card {
  width: 329px;
  height: 476px;

  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.product-pic img {
  border-radius: 5px;
  width: 300px;
  height: 256px;
}
.product-info .product-name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.ratting .fa-star {
  color: #fb8200;
}
/*---------------
  footer style 
-----------------*/
footer {
  height: 239px;
  background-color: #0a0826;
}
.footer-section {
  width: 262px;
  height: 139px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h5 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 3px;
}
footer p,
span {
  font-size: 14px;
  color: #d9dbe1;
}
.social-media {
  display: flex;
  /* justify-content: center; */
}
.social-media li {
  list-style: none;
}
footer a {
  color: #ffffff;
  margin-right: 16px;
}
