/* some fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ----------------
    common styles 
-------------------*/
button {
  font-size: 16px;
  height: 44px;
  font-weight: bold;
  background-color: #e02c6d;
  border: 0;
}
button a {
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: #ffffff;
}
/* -----------------
    header style 
--------------------*/
.navigation-bar h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 87px;
  margin-left: 120px;
}

/* cover page style */
.cover-page {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 165px;
}
.cover-page-info {
  font-family: "Poppins", sans-serif;
  width: 582px;
}
.cover-page-info h1 {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
}
.cover-page-info p {
  font-size: 16px;
  font-weight: 600;
}
.preebook-button {
  border-radius: 41px;
  width: 196px;
  height: 44px;
}

.cover-pic img {
  width: 440px;
  height: 414px;
}
